@import './css/footer.css';
@import './css/normalize.css';
@import './css/nav.css';
@import './css/aboutUs.css';
@import './css/gallery.css';
@import './css/reviews.css';
@import './css/top10.css';
@import './css/hero.css';
@import './css/readyToGo.css';
@import './css/information.css';
@import './css/selectCountry.css';

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: inter;

}

/* Root */

:root {
    --darkMode: #f0f0f5;
    --primaryColor: rgb(255, 94, 94);
    --tittleColor: rgb(250, 53, 53);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);

}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #222222;
}

::-webkit-scrollbar-thumb {
    background-color: #dadada;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a7a7a7;
    border-radius: 50px;
}

/* Links */
.link {
    text-decoration: none;
    color: var(--darkMode);
    transition: .3s;
    font-weight: 300;
}

.link:hover {
    color: var(--primaryColor);
}

/* Explore by interest */

.container__exploreInterest {
    width: 100%;
    padding: 20px 0px;
}

.exploreInterest {
    width: 100%;
    padding: 200px 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.decoration {
    position: absolute;
    height: 4px;
    border-radius: 30px;
    background-color: rgb(155, 0, 0);
}

.decoration1 {
    margin-top: 50px;
    width: 30%;
}

.decoration2 {
    margin-top: 80px;
    background-color: rgb(63, 63, 63);
    width: 35%;
}

.decoration3 {
    margin-top: 110px;
    width: 40%;
}

.exploreInterest__text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 35%;
    color: var(--darkMode);
}

.exploreInterest__tittle {
    font-size: 2.4rem;
    font-weight: 200;
    letter-spacing: 3px;
}

.exploreInterest__nav {
    width: 75%;
    box-shadow: -35px 30px #1d1d1d;
    margin: 40px 0px 0px;
}

.exploreInterest__nav__options {
    list-style: none;
    font-weight: 200;
}

.exploreInterest__nav__options__li {
    padding: 20px 0px 20px 30px;
    border-bottom: 2px solid black;
    background-color: #131313;
    letter-spacing: 1px;
    transition: .3s;
}

.exploreInterest__nav__options__li:hover {
    background-color: rgb(173, 19, 19);
    cursor: pointer;
}


.exploreInterest__gallery {
    width: 45%;
    display: grid;
    gap: 45px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    justify-content: center;
    position: relative;
}

.exploreInterest__gallery__image {
    width: 300px;
    height: 300px;
    z-index: 100;
    border-radius: 20px;
    overflow: hidden;
    background-color: black;
    transition: .3s;
}

.exploreInterest__gallery__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
    filter: brightness(80%);
}

.exploreInterest__gallery__image img:hover {
    filter: brightness(100%);
}

.exploreInterest__gallery__image:hover {
    box-shadow: 0px 0px 15px rgb(0, 0, 0);

}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.background__circle {
    position: absolute;
    width: 45%;
    height: 70%;
    background-color: #242424;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

}

.background__image {
    position: absolute;
    object-fit: cover;
    width: 80%;
    z-index: 30;
    left: 50%;
    top: 50%;
    transform: translate(-65%, -40%);
}

/* Book Your Trip */

.container__bookTrip {
    width: 100%;
    margin: 120px 0px;
}

.bookTrip {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    align-items: center;
}

.bookTrip__form {
    width: 35%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.bookTrip__form__form {
    width: 100%;
}

.bookTrip__form__tittle {
    font-size: 2.8rem;
    color: var(--darkMode);
    font-weight: 200;
    letter-spacing: 5px;
    line-height: 3.2rem;
    margin-bottom: 30px;
}

.form__item input,
select,
.form__button {
    padding: 18px 22px;
    width: 75%;
    margin: 16px 0px;
    color: white;
    background-color: transparent;
    font-size: 1.2rem;
    border: 2px solid rgb(90, 90, 90);
    transition: 0.3s;
}

.form__item select {
    background-color: rgb(0, 0, 0);
}

.icon__container {
    width: 50px;
    height: 100%;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__container i {
    font-size: 50px;
}

.form__item::placeholder {
    color: rgb(90, 90, 90);
    letter-spacing: 2px;
    font-size: 1.3rem;
    font-weight: 400;
}

.form__item:focus {
    outline: none;
    border: 2px solid rgb(207, 207, 207);

}

.form__button {
    background-color: rgb(141, 0, 0);
    outline: none;
    border: none;
    cursor: pointer;
}

.form__button:hover {
    background-color: rgb(206, 0, 0);
}

.bookTrip__img {
    display: flex;
    justify-content: end;
    width: 45%;
    overflow: hidden;
    border-left: 5px solid rgb(143, 0, 0);
    border-top: 5px solid rgb(143, 0, 0);
    border-bottom: 5px solid rgb(122, 0, 0);
}

.bookTrip__img img {
    transform: scaleX(-1);
    height: 90vh;
    object-fit: cover;
}


@media screen and (max-width: 1100px) {

    /* Hero Mobile */
    .hero {
        justify-content: center;
    }

    .container__info {
        margin: 0px;
        width: 100%;
        max-width: 350px;
        align-items: center;
        text-align: center;
    }

    .info__h1 {
        font: normal 300 1.5rem/3.2rem inter;
    }

    .info__h1 span {
        font: normal 300 5.4rem/3rem Inter;
        letter-spacing: 8px;
    }

    .info__p {
        margin: 0px;
        padding: 10px 0px 0px 0;
        font: normal 300 1rem/1.4rem Inter;
        width: 78%;
    }

    /* Info Mobile */
    .information {
        width: 90%;
    }

    .information__option {
        width: 160px;
        height: 180px;
    }

    .information__option img {
        width: 50px;
    }

    .information__option__tittle {
        font-weight: 300;
        margin: 8px 0px 0px;
    }

    /* Top 10 ON Japan mobile*/
    .topJapan {
        padding: 40px 0px;
    }

    .tittle__decoration {
        width: 5%;
    }

    .tittle {
        font: normal 200 2rem/2rem Inter;
    }

    .topJapan__section {
        margin: 20px 0px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 300px);
        gap: 15px;
    }

    .section__decoration {
        width: 0%;
    }

    .section {
        max-width: 300px;
    }

    .section_img {
        border-radius: 15px;
    }

    .section1 {
        width: 100%;
    }

    .section2 {
        height: 100%;
        width: 100%;
    }

    .section3 {
        height: 100%;
        width: 100%;
    }
}